<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">What's this all about?</h2>
                    <h3 class="section-subheading text-muted">
                      <p align="left">The Red Team Project incubates open source cybersecurity tools that support cyber range automation, containerized pentesting utilities, binary risk analysis, and standards validation.</p>
                      <p align="left">Sponsored by the <a href="https://www.linuxfoundation.org/">Linux Foundation</a>, the Red Team Project's goal is to make open source software safer to use. Our approach is to use the same tools, techniques, and procedures as our adversaries &mdash; but in a constructive way &mdash; in order to provide feedback to open source projects that will make those projects more secure.</p>
                    </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <!-- <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i> -->
                        <i class="fas fa-crosshairs fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Cyber Range Automation</h4>
                    <p class="text-muted" align="left">Ever wonder what people mean when they talk about “cyber ranges?” Well, if you've ever been to a gun range you've already got an idea. Like gun ranges, cyber ranges are used for training, testing, research and development -- but instead of kinetic devices, cyber ranges specialize in offensive and defensive simulation in the cyber domain.</p>
                    <p class="text-muted" align="left">To continue with the gun range analogy, consider the Aristotelian <a href="https://en.wikipedia.org/wiki/Accident_(philosophy)">physical accidents</a> of such a range. They likely have a berm at the back, followed by lanes, benches, lockers, parking, etc.. The physical accidents of a cyber range are the computers themselves, virtualization frameworks, and network topologies.</p>
                    <p class="text-muted" align="left">In today’s world of public and private cloud services, cyber range virtualization is easy to come by. But physical accidents aren’t enough -- kinetically speaking, a gun range lacks the essence of a gun range until you add firearms, ammunition, targets, shooters, range officers, and so forth. Similarly, a cyber range isn’t actually useful until you add vulnerable machine images, vulnerable application configs, attack platforms, exploits, and operators. Even with those added ingredients, a cyber range can’t actually be used for training until you have scenarios that are representative of real world situations that your red and blue teams will be facing.</p>

                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-chart-bar fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Binary Risk Quantification</h4>
                    <p class="text-muted" align="left">At Def Con 24, Sarah Zatko and Mudge unveiled their <a href="https://cyber-itl.org/">Cyber Independent Test Lab (Cyber-ITL)</a>, an effort to quantitatively analyze binaries for safety features, code complexity, and code hygiene. After their project update the following year at Def Con 25, sensing how vastly important the Cyber-ITL work would become, some engineers working with the Fedora Project decided to make an open source implementation of the Cyber-ITL’s methodology. The resultant project, the Cyber Test Lab, has been migrated to the Red Team Project, and is working on adding support of other Linux distributions.</p>
                    <p class="text-muted" align="left">The Cyber Test Lab (CTL) gives open source projects a way to analyze their code so they have some insight into how the Cyber-ITL will score their binaries. We also plan to make CTL easier to integrate into the SDLC so end users can prevent poorly-built binaries from going to production.</p>
                    <p class="text-muted" align="left">Our findings are published <a href="https://github.com/redteam-project/ctl-results">here</a>.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-clipboard-list fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Standards Advancement</h4>
                    <p class="text-muted" align="left">Have you ever had to comply with FISMA requirements, write a System Security Plan, pursue an Authority To Operate? If so, you’ve probably come across <a href="https://csrc.nist.gov/publications/detail/sp/800-53/rev-4/final">NIST SP 800-53</a>. The daunting scope of what NIST set out to do with enumerating all the security controls necessary to assure confidentiality, integrity, and availability yielded the yardstick by which Information Assurance is measured.</p>
                    <p class="text-muted" align="left">If you’ve gone through an accreditation process before, you’ve probably questioned the efficacy of some of the 800-53 controls. With the Red Team Project’s cyber range automation, it’s now possible to explore whether or not individual 800-53 controls actually work.</p>
                    <p class="text-muted" align="left">For a given control, we can:<br />
                    &nbsp;&bull;&nbsp;Map the control to certain classes of exploits<br />
                    &nbsp;&bull;&nbsp;Create a cyber range with systems vulnerable to those exploits<br />
                    &nbsp;&bull;&nbsp;Automatically implement the control with our Compliant Ansible role<br />
                    &nbsp;&bull;&nbsp;Test the mapped exploits against systems with and without the control implemented<br />
                    </p>
                    <p class="text-muted" align="left">We plan to provide empirical feedback to NIST regarding control efficacy in order to make more efficient standards going forward.
                    </p>
                </div>
            </div>
            <div class="row">
              <div class="col-lg-12 text-center">
                  <h2 class="section-heading">How to join</h2>
                  <h3 class="section-subheading text-muted">
                    <p align="left">Want to get involved? There are lots of ways to jump in:
                      <ul>
                        <li><p align="left">Join our <a href="https://groups.google.com/forum/#!forum/red-team-project">Google Group</a></p></li>
                        <li><p align="left">Follow us on <a href="https://twitter.com/redteamproject">Twitter</a></p></li>
                        <li><p align="left">Take a look at our projects on <a href="https://github.com/redteam-project">GitHub</a>. Pull requests welcome!</p></li>
                        <li><p align="left">Review our open datasets (coming soon)</p></li>
                        <li><p align="left">Join us at our <a href="#meetups">Meetups</a>, either in person or via Hangout</p></li>
                      </ul>
                    </p>
                  </h3>
              </div>
            </div>
        </div>
    </section>
