<!-- Tooling Section -->
    <section id="tooling">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Tooling</h2>
                    <h3 class="section-subheading text-muted">We make stuff here. Check out our tooling.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-square fa-stack-2x text-primary"></i>
                        <!-- <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i> -->
                        <i class="fas fa-map-signs fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Linux Exploit Mapper</h4>
                    <p class="text-muted" align="left"><a href="https://github.com/redteam-project/lem">LEM</a> scans a Linux system for local exploits and maps them to known exploit code.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-square fa-stack-2x text-primary"></i>
                        <i class="fas fa-vials fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Exploit Curation</h4>
                    <p class="text-muted" align="left">LEM-mapped exploits are <a href="https://github.com/redteam-project/exploit-curation">curated</a>, i.e., tested for efficacy and ease-of-use using a variant of the STRIDE scoring mechanism</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-square fa-stack-2x text-primary"></i>
                        <i class="fas fa-unlock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">cyber-range-target</h4>
                    <p class="text-muted" align="left">An Ansible role called <a href="https://github.com/redteam-project/cyber-range-target">cyber-range-target</a> is used to deliberately downgrade OS packages to a version vulnerable to a given CVE</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-square fa-stack-2x text-primary"></i>
                        <i class="fas fa-th fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Red Container</h4>
                    <p class="text-muted" align="left"><a href="https://github.com/redteam-project/red-container">Red Container</a> offers containerized pentesting tooling, which can be launched from whole OSes or containerized environments like Kubernetes
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-square fa-stack-2x text-primary"></i>
                        <i class="fas fa-flask fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Training Labs</h4>
                    <p class="text-muted" align="left">Cyber range <a href="https://github.com/redteam-project/cyber-range-scenarios">training scenarios</a> that automatically launch and configure the cyber range via Deployment Manager and Ansible
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-square fa-stack-2x text-primary"></i>
                        <i class="fas fa-clipboard-check fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Compliant</h4>
                    <p class="text-muted" align="left"><a href="https://github.com/redteam-project/compliant">Automatically apply</a> DISA STIG settings to OS instances
                    </p>
                </div>
            </div>
        </div>
    </section>
